body {
    background-color: #EFEDEB;
}

section {
    padding: 80px 100px;
}

h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 50px;
    color: #66060C;
    font-weight: bolder;
    line-height: 1.1;
    margin: 10px 0;
}

h3 {
    text-transform: uppercase;
    color: #66060C;
    font-size: 18px;
    font-weight: 500;
}


/* =========================================================
   HERO
   ========================================================= */

.hero {
    background-image: url('../assets/silk-background.png');
    background-size: cover;
    background-position: top;

    height: 100vh;
    max-height: 750px;

    padding: 0 100px;
    color: #fff;
}


/* =========================================================
   HEADER
   ========================================================= */

header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 70px clamp(20px, 5vw, 50px) 0;
}


/* Logo */

#logo {
    position: absolute;
    right: clamp(-50px, -3vw, -15px);
    width: clamp(80px, 14vw, 210px);
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: clamp(8px, 3.5vw, 60px);

    font-size: clamp(12px, 1.5vw, 18px);

    white-space: nowrap;
}

nav a {
    color: #E8D9C1;
}

.atual {
    font-weight: 600;
}


/* =========================================================
        CONTEÚDO DO HERO
        ========================================================= */

.hero-content {
    margin-top: 70px;
}


/* Títulos */

.hero h1,
.hero span {
    margin: 0;

    font-family: "Cormorant Garamond", serif;
    font-size: clamp(48px, 6vw, 90px);

    color: #E8D9C1;
    line-height: 1.1;
}

.title {
    font-weight: 700;
}

.subtitle {
    font-style: italic;
    font-weight: normal;
}


/* Texto */

.hero p {
    max-width: 40%;
    margin: 30px 0;

    color: #E8D9C1;
    font-size: 18px;
}


/* Divisor */

.hero-divider {
    width: 100px;
    height: 1px;

    margin: 20px 0;

    background-color: #ffffff8d;
}


/* =========================================================
   BOTÕES
   ========================================================= */

.hero-buttons {
    display: flex;
    gap: 30px;
}

.hero-buttons .btn {
    padding: 15px 25px;

    border-radius: 10px;

    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;

    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease,
        transform 0.3s ease;
}


/* Botão principal */

.btn-primary {
    background-color: #6B010F;
    color: #D9D9D9;
}

.btn-primary:hover {
    background-color: #8A0A1A;
    color: #FFFFFF;

    transform: translateY(-2px);
}


/* Botão com contorno */

.btn-outline {
    border: 2px solid #D9D9D9;
    color: #D9D9D9;
}

.btn-outline:hover {
    background-color: #D9D9D9;
    color: #6B010F;

    transform: translateY(-2px);
}

/*-----------section funcionalidades---------------*/

.sec-funcionalidades h3,
.sec-funcionalidades h2 {
    text-align: center;
}

.sec-funcionalidades h2 {
    width: 70%;
    margin: 10px auto 40px auto;
    line-height: 1.0;
}

/*CARDS*/

.container-cards {
    display: grid;
    align-self: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    width: 85%;
    max-width: 1200px;
    margin: 0 auto;
    justify-items: center;
}

.card-func {
    border-radius: 30px;
    background-color: #dfdfde4d;
    padding: 20px;
    text-align: center;
    border: 2px solid #b7b1b187;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-background {
    width: 110px;
    height: 110px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 2px solid #b7b1b177;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-icon {
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.card-title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 7px;
    color: #66060C;
}

.card-description {
    color: #484848;
    font-weight: 500;
}

/* =========================================================
   CARROSSEL
   ========================================================= */

.sec-diferencial {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 365px;
    padding: 70px 40px;

    background-image: url("../assets/background-carrossel.png");
    background-size: cover;
    background-position: center;

    color: #E8D9C1;
    overflow: hidden;
}

.carrossel {
    width: 100%;
    max-width: 900px;

    text-align: center;
}

.carrossel h3 {
    margin-bottom: 40px;
    color: #E8D9C1;
}

.carrossel-content {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 30px;
}

.carrossel-text {
    width: 100%;
    max-width: 650px;
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.carrossel-text h2 {
    margin: 0 0 25px;

    font-family: "Cormorant Garamond", serif;
    font-size: clamp(40px, 4vw, 55px);
    font-weight: 500;
    line-height: 0.95;

    color: #E8D9C1;
}

.carrossel-text p {
    margin: 0 auto;

    max-width: 550px;

    font-size: 19px;
    font-style: italic;
    line-height: 1.6;
    font-weight: 300;

    color: #E8D9C1;
}

.carrossel-btn {
    flex-shrink: 0;

    width: 50px;
    height: 50px;

    border: none;
    background: transparent;

    color: #E8D9C1;
    font-size: 50px;
    font-weight: 300;

    cursor: pointer;

    transition: transform 0.2s ease, opacity 0.2s ease;
}

.carrossel-btn:hover {
    transform: scale(1.15);
    opacity: 0.7;
}

.carrossel-indicadores {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 8px;

    margin-top: 30px;
}

.indicador {
    width: 15px;
    height: 15px;

    padding: 0;

    border: 1px solid #E8D9C1;
    border-radius: 50%;

    background: transparent;

    cursor: pointer;

    transition: background-color 0.3s ease;
}

.indicador.ativo {
    background-color: #E8D9C1;
}


/*--------profissionais---------*/
.sec-profissionais {
    position: relative;
    height: 1000px;
}

.sec-profissionais h2 {
    line-height: 1.0;
    margin: 20px 0;
}

.sec-profissionais p {
    width: 55%;
    font-size: 18px;
    color: #1E1E1E;
    font-weight: 500;
}

.sec-profissionais img {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    max-height: 960px;
    object-position: top;
    object-fit: cover;
}

#frase-match {
    position: absolute;
    bottom: 60px;
    color: #D9D9D9;
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    /*deixar tamanho que diminui com responsividade*/
    width: 30%;
    line-height: 1.1;
}

#frase-match em {
    font-family: "Cormorant Garamond", serif;
    font-style: normal;
    font-size: 26px;
}

#palavras-chave {
    text-transform: uppercase;
    color: #D9D9D9;
    position: absolute;
    bottom: 60px;
    right: 0;
    text-align: right;
    margin-right: 100px;
    font-weight: 300;
    font-size: 20px;
    /*deixar tamanho que diminui com responsividade*/
}

/*-----------sec tecnologia-----------*/
.sec-tecnologia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: auto 80px;
    height: 100%; /*caber os mockups dentro, ele deve considerar a imagem mesmo ela sendo absolute*/
}

.mockups {}

.mockups img {
    width: 25%;
    max-width: 300px;
}

#mock-resultado {
    position: absolute;
    bottom: 40%;
}

#mock-chat {
    position: absolute;
    z-index: 2;
    margin-left: 100px;
    top: 40%;
}

.sec-tecnologia-content {
    width: 50%;
}

.cards-tecnologia {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 40px;
}

.card-tecnologia {
    background-color: #dfdfde4d;
    border-radius: 30px;
    border: 2px solid #b7b1b184;
    padding: 25px;
    display: flex;
    gap: 20px;
    align-items: center;
    width: 80%;
}

.container-icon-card {
    border-radius: 50%;
    border: 2px solid #b7b1b1aa;
    width: 110px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.card-tecnologia img {
    padding: 20px;
}

.card-tecnologia h4 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 7px;
    color: #66060C;
}

.card-tecnologia p {
    color: #484848;
    font-weight: 500;
    font-size: 14px;
}

/*---------video pitch-----------*/
.sec-pitch {
    background-color: #45050D;
    color: #E8D9C1;
    display: flex;
    gap: 70px;
    align-items: center;
}

.sec-pitch-content {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sec-pitch video {
    width: 100%;
    height: 400px;
}

.sec-pitch h2,
.sec-pitch h3 {
    color: #E8D9C1;
}

.sec-pitch h2 {
    font-size: 55px;
    font-weight: 600;
}

.sec-pitch p {
    font-size: 18px;
    font-weight: 300;
}

/*---------cta----------*/

.cta-container {
    background-color: #580209;
    border-radius: 50px;
    padding: 50px;
    color: #E8D9C1;
}

.cta-container h2 {
    color: #E8D9C1;
    margin: 0 0 20px 0;
    font-weight: 600;
}

.cta-container p {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
}

.container-lojas {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.container-lojas img {
    height: 60px;
}


/* =========================================================
   FOOTER
   ========================================================= */

footer {
    padding: 3.75rem clamp(40px, 7vw, 100px) 1.5rem;

    background: linear-gradient(180deg,
            #310105 0%,
            #50040A 45%,
            #81010C 100%);

    color: #D9D9D9;
}


/* Parte superior */

.footer-top {
    display: flex;
    justify-content: space-around;
    gap: clamp(30px, 5vw, 60px);
}


/* =========================================================
   FOOTER — MARCA
   ========================================================= */

.footer-brand {
    width: min(350px, 35%);
}

.footer-logo {
    width: clamp(195px, 16vw, 18rem);
    margin-bottom: 1.25rem;
}

.footer-brand p {
    color: #D9D9D9;
    font-size: 17px;
    line-height: 1.5;
}


/* =========================================================
   FOOTER — COLUNAS
   ========================================================= */

.footer-columns {
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    gap: clamp(40px, 6vw, 100px);
}

.footer-column {
    min-width: 130px;
}

.footer-column h4 {
    margin: 0 0 1rem;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer-column ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-column li {
    margin-bottom: 5px;
}

.footer-column a {
    color: #D9D9D9;
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-column a:hover {
    color: #E8D9C1;
}



/* =========================================================
   FOOTER — PARTE INFERIOR
   ========================================================= */

.footer-bottom {
    margin-top: 1.5rem;

    color: #D9D9D9;
    font-size: 16px;

    text-align: center;
}